# Toolhead cooling

# Part cooling - M106 / M107
[fan]
pin: sb2040:gpio24

# Hotend heatsink fan - automatic heater-linked cooling
[heater_fan hotend_fan]
pin: !sb2040:gpio19
heater: extruder
heater_temp: 50.0                     # deg C; runs while heating or above this temperature
fan_speed: 1.0
kick_start_time: 1.0                  # Seconds at full power when starting
