# Heated bed

[heater_bed]
# Heater and thermistor
heater_pin: PA1
sensor_pin: PF3
sensor_type: Generic 3950

# Power and temperature limits
max_power: 0.75                       # 0.0-1.0 duty cycle
min_temp: 0                           # deg C
max_temp: 120                         # deg C

# PID tuning
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769
