# CAN controllers

# Octopus v1.1 F446 - Z motors, bed heater and USB-to-CAN bridge
[mcu]
canbus_uuid: 63fde86416b0

# PITB v2 - X/Y motors
[mcu pitb]
canbus_uuid: 564264692997

# FLY SB2040 Pro Max V3 - toolhead and eddy probe
[mcu sb2040]
canbus_uuid: eaf34f12fc6b
