# X/Y motion - PITB v2, TMC5160

# X / B motor - right, second driver
[stepper_x]
# Motor wiring and steps
step_pin: pitb:gpio12
dir_pin: !pitb:gpio11
enable_pin: !pitb:gpio9
rotation_distance: 40                 # mm per motor revolution
microsteps: 32
full_steps_per_rotation: 200

# Travel limits, mm
position_min: 0
position_endstop: 350
position_max: 350

# Sensorless homing
endstop_pin: tmc5160_stepper_x:virtual_endstop
homing_speed: 80                      # mm/s
homing_retract_dist: 5                # mm
homing_retract_speed: 20              # mm/s
min_home_dist: 20
homing_positive_dir: true
use_sensorless_homing: true

[tmc5160 stepper_x]
# Driver communication
cs_pin: pitb:gpio10
spi_software_sclk_pin: pitb:gpio2
spi_software_mosi_pin: pitb:gpio3
spi_software_miso_pin: pitb:gpio0

# Motor current and chopper settings
interpolate: false
run_current: 0.80                     # A RMS
home_current: 0.49                    # A RMS
current_change_dwell_time: 0.2        # Seconds
sense_resistor: 0.075                 # Ohms
stealthchop_threshold: 0              # 0 = SpreadCycle

# StallGuard
diag0_pin: ^!pitb:gpio24
driver_SGT: 0

# Y / A motor - left, first driver
[stepper_y]
# Motor wiring and steps
step_pin: pitb:gpio8
dir_pin: !pitb:gpio7
enable_pin: !pitb:gpio5
rotation_distance: 40                 # mm per motor revolution
microsteps: 32
full_steps_per_rotation: 200

# Travel limits, mm
position_min: 0
position_endstop: 350
position_max: 350

# Sensorless homing
endstop_pin: tmc5160_stepper_y:virtual_endstop
homing_speed: 80                      # mm/s
homing_retract_dist: 5                # mm
homing_retract_speed: 20              # mm/s
min_home_dist: 20
homing_positive_dir: true
use_sensorless_homing: true

[tmc5160 stepper_y]
# Driver communication
cs_pin: pitb:gpio6
spi_software_sclk_pin: pitb:gpio2
spi_software_mosi_pin: pitb:gpio3
spi_software_miso_pin: pitb:gpio0

# Motor current and chopper settings
interpolate: false
run_current: 0.80                     # A RMS
home_current: 0.49                    # A RMS
current_change_dwell_time: 0.2        # Seconds
sense_resistor: 0.075                 # Ohms
stealthchop_threshold: 0              # 0 = SpreadCycle

# StallGuard
diag0_pin: ^!pitb:gpio23
driver_SGT: 0
