# Voron 2.4 - 350 mm

# Controllers and wiring
[include hardware/mcu.cfg]

# Hardware
[include hardware/heaters.cfg]
[include hardware/motion.cfg]
[include hardware/z.cfg]
[include hardware/probe.cfg]
[include hardware/extruder.cfg]
[include hardware/fans.cfg]
[include hardware/sensors.cfg]

# Mainsail and installed addons
[include addons/mainsail.cfg]
[include addons/tmc_autotune.cfg]
[include machine/variables.cfg]
[include addons/adaptive_purge.cfg]

# Printer workflows
[include macros/*.cfg]

# Motion limits

[printer]
kinematics: corexy
max_velocity: 300                     # mm/s
max_accel: 3000                       # mm/s^2
max_z_velocity: 15                    # mm/s
max_z_accel: 350                      # mm/s^2
square_corner_velocity: 5.0           # mm/s

# Runtime settings

[idle_timeout]
timeout: 1800                         # Seconds before idle shutdown
gcode:
    _IDLE_TIMEOUT

[exclude_object]

[force_move]
enable_force_move: true

[danger_options]
autosave_includes: True               # SAVE_CONFIG also updates included files
